@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerH;
  background: white;
  color: black;
  z-index: 1;
}

.mat-toolbar-row {
  height: 100%;
}

.menu-button {
  margin-right: 1rem;
}

.brand {
  padding-right: 1rem;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
}

.logo {
  max-height: 45px;
  margin-right: 12px;
}

.mat-button {
  font-size: 16px;
  font-weight: 400;

  &.active {
    color: mat-color($sm-primary);
    font-weight: 700;
  }

  .mat-icon {
    font-size: 18px;
    width: 20px;
    height: 18px;
    margin-left: 5px;
  }
}

.mat-menu-item {
  &.active {
    color: white;
    background: mat-color($sm-primary);
  }
}

.mat-icon-button {
  color: mat-color($sm-primary);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
  }
}
