<div fxFlex class="mat-typography">
    <mat-sidenav-container fxFill>
        <mat-sidenav #sidenav mode="over">
            <nav>
                <mat-list>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/accounts" routerLinkActive="active" (click)="sidenav.close()">
                        <span translate>Accounts</span>
                    </a>
                </mat-list>
            </nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header></app-header>
            <div class="wrapper">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
        <h1>Hello From Shell</h1>
    </mat-sidenav-container>
</div>