<div fxFill fxLayout="column" fxLayoutAlign="center center" class="register-container" >
    <div fxFill fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
        <div fxLayout="row" fxLayoutAlign="center center" >
        <mat-card fxFlex.xs="90.0" fxFlex="450px" >
            <h2 class="form-title">Register</h2>
            <mat-card-content>
                <form (ngSubmit)="register()" [formGroup]="formGroup">
                    <div fxLayout="column">
                        <p>
                            <mat-form-field>
                                <mat-label>Firstname</mat-label>
                                <input type="text" matInput formControlName="firstname" />
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Lastname</mat-label>
                                <input type="text" matInput formControlName="lastname" />
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input type="text" matInput formControlName="username" />
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input type="password" matInput formControlName="password" />
                            </mat-form-field>
                        </p>
                    </div>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading   " >
                            <span>Register</span></button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>