<div fxFlex class="members-list-container">
    <table mat-table width="100%" [dataSource]="members" >
        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef > Firstname</th>
            <td mat-cell *matCellDef="let member"> {{member.firstName || ''}}</td>
        </ng-container>

        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef > Lastname</th>
            <td mat-cell *matCellDef="let member"> {{member.lastName || ''}}</td>
        </ng-container>

        <ng-container matColumnDef="Username">
            <th mat-header-cell *matHeaderCellDef > Email</th>
            <td mat-cell *matCellDef="let member"> {{member.username || ''}}</td>
        </ng-container>

        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef > Role</th>
            <td mat-cell *matCellDef="let member"> {{member.role || ''}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
</div>